@import "leaflet/dist/leaflet.css";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.leaflet-tile {
  filter: none !important;
  -webkit-filter: grayscale(0%) !important;
}